/.bundle
/vendor
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/cache/.keep
!/tmp/sockets/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/node_modules
/public/packs
/public/packs-test
/yarn-error.log
.mise
.env
